#ignore these directories
.idea/
venv/
venv_linux/
win_venv/
src/__pycache__/
database/

#ignore these extensions
**.xlsx
**.json
**.bat
*.swp
*.vim
*.log

#ignone these sphinx files and dir
../phrase_pair_db/doc/_build
../phrase_pair_db/doc/_static
../phrase_pair_db/doc/_templates
../phrase_pair_db/doc/make.bat
../phrase_pair_db/doc/Makefile

